@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.hero-slider {
  max-width: 1440px;
  width: 100%;
  margin-bottom: rem(57);

  img {
    max-width: 595px;
    width: 100%;
    aspect-ratio: 21/12;
  }
}