@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.article {
  background-color: var(--color-white);
  border-radius: var(--radius-main);
  overflow: hidden;

  h2 {
    margin-bottom: 12px;

    +p {
      margin-bottom: 60px;
    }
  }

  &__img {
    width: 100%;
  }

  img {
    aspect-ratio: 41/20;
  }

  &__content {
    padding: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 35px;
  }

  .btn {
    color: var(--color-brown-500) !important;
    font-size: 18px;
    font-weight: var(--fw-600);
    border-color: var(--color-brown-300);
    padding: 16px 70px 16px 35px;

    &::before {
      @include pseudo;
      top: 50%;
      transform: translateY(-50%);
      right: 36px;
      background-image: var(--arrow);
      width: 24px;
      filter: var(--brown-500);
      height: 24px;
      transition: filter .2s;
    }

    &:hover {
      color: var(--color-white) !important;
      background-color: var(--color-brown-500) !important;

      &::before {
        filter: var(--white);
      }
    }
  }
}