@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.benefits {
  .grid__item {
    @include flex-col;
    border-left: 1px solid rgba($color: #000000, $alpha: .16);
    padding: rem(175) rem(20) rem(25) rem(20);

    &::before,
    &::after {
      @include pseudo;
    }

    &::before {
      top: 16px;
      left: 20px;
      width: 65px;
      height: 65px;
      border-radius: calc(var(--radius-main) - 8px);
      background-color: var(--color-blue-400);
    }

    &::after {
      @include cover-background;
      top: 32px;
      left: 36px;
      font-size: 27px;
      width: 30px;
      height: 30px;
      filter: var(--filter-blue-900);
    }

    p {
      font-size: clamp(18px, 1vw, 20px);
      line-height: 1.2;
      color: var(--color-black);
      margin-bottom: 25px;
    }

    &--calculators {
      &::after {
        background-image: var(--calculator);
      }
    }

    &--guides {
      &::after {
        background-image: var(--text);
      }
    }

    &--webinars {
      &::after {
        background-image: var(--tv);
      }
    }

    &--workshops {
      &::after {
        background-image: var(--workshops);
      }
    }

    &--first {
      &::after {
        content: "1";
      }
    }

    &--second {
      &::after {
        content: "2";
      }
    }

    &--third {
      &::after {
        content: "3";
      }
    }

    &--fourth {
      &::after {
        content: "4";
      }
    }

    &--first,
    &--second,
    &--third,
    &--fourth {
      padding: rem(175) rem(20) rem(25) rem(16);

      p {
        margin-bottom: 0;
      }

      &::after {
        top: 26px;
        left: 44px;
      }
    }
  }

  h3 {
    color: var(--color-gray-700);
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 16px;
  }

  a {
    position: relative;
    max-width: fit-content;
    margin-top: auto;
    color: var(--color-black);
    font-size: 16px;
    padding-right: 35px;
    filter: var(--filter-blue-900);
    transition-property: filter;
    transition-duration: .3s;
    transition-timing-function: linear;

    &::before {
      @include pseudo;
      @include contain-background;
      width: 25px;
      height: 25px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: var(--arrow-left);
    }

    &:hover {
      filter: var(--filter-blue-700);

      @include media(tablet) {
        filter: var(--filter-blue-900);
      }
    }
  }
}