@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.blog {
  &__header {
    @include flex-sb;
    align-items: flex-end;
    margin-bottom: rem(65);
  }

  .section-header {
    margin-bottom: 0;
  }

  article {
    @include flex-col;
    cursor: pointer;
    overflow: hidden;
    gap: 25px;
    max-width: 420px;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-600);
    border-radius: var(--radius-main);
    padding: 15px 15px 25px 15px;
    transition: gap .3s linear;

    &:hover {
      .btn {
        opacity: 1;
        transition: opacity .3s linear;
      }

      img {
        aspect-ratio: 147/100;
      }
    }
  }

  img {
    max-width: 390px;
    width: 100%;
    aspect-ratio: 29/25;
    border-radius: calc(var(--radius-main) - 8px);
    transition-property: aspect-ratio;
    transition-duration: .2s;
    transition-timing-function: linear;
  }

  h3 {
    color: var(--color-white);
    font-size: clamp(1.25rem, 2vw, 28px);
  }

  .btn {
    position: absolute;
    bottom: 25px;
    left: 16px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in;
  }
}