@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.blog {
  &__header {
    @include flex-sb;
    align-items: flex-end;
    margin-bottom: rem(65);
  }

  .section-header {
    margin-bottom: 0;
  }

  article {
    @include flex-col;
    cursor: pointer;
    overflow: hidden;
    gap: 25px;
    max-width: 420px;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-600);
    border-radius: var(--radius-main);
    padding: 15px 15px 25px 15px;
    transition-property: gap;
    transition-duration: .2s;
    transition-timing-function: linear;

    @include media(mobile-l) {
      max-width: 100%;
    }

    &:hover {
      .btn {
        transform: scale(1);
      }

      img {
        aspect-ratio: 147/100;

        @include media(tablet) {
          aspect-ratio: 29/25;
        }
      }
    }
  }

  img {
    aspect-ratio: 29/25;
    border-radius: calc(var(--radius-main) - 8px);
    transition-property: aspect-ratio;
    transition-duration: .2s;
    transition-timing-function: linear;
  }

  h3 {
    color: var(--color-white);
    font-size: clamp(1.25rem, 2vw, 28px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .btn {
    position: absolute;
    bottom: 25px;
    left: 16px;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease-in;

    @include media(tablet) {
      position: relative;
      bottom: 0;
      left: 0;
      transform: scale(1);
    }
  }
}