/* stylelint-disable declaration-no-important */
@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  position: relative;
  @include flex-all-center;
  max-width: fit-content;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: calc(var(--radius-main) * 2);
  font-weight: var(--fw-500);
  font-size: 16px;
  font-family: var(--font-family-primary);
  color: var(--color-white) !important;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  padding: 14px 32px;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;

  &--order {
    background-color: var(--color-dark-500) !important;

    &:hover {
      background-color: var(--color-gray-900) !important;
    }

    @include media(tablet) {
      background-color: var(--color-dark-500) !important;
    }
  }

  &--white {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;

    &:hover {
      background-color: var(--color-gray-900) !important;
      color: var(--color-white) !important;
    }

    @include media(tablet) {
      background-color: var(--color-white) !important;
      color: var(--color-black) !important;
    }
  }
}