@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.contact {
  &__wrapper {
    position: relative;
    background-color: var(--color-blue-900);
    border-radius: var(--radius-main);
    padding: rem(50);

    &::before {
      @include pseudo;
      inset: 0;
      background: var(--gradient-blue);
    }
  }

  &__inner {
    position: relative;
    @include flex-col;
    align-items: center;
    z-index: 1;
  }

  p {
    text-align: center;
    line-height: 1.2;
    margin-bottom: rem(50);
    color: white;
  }

  span {
    display: inline-block;
    opacity: 0.6;
  }

  &__form {
    @include flex-v-center;
    gap: 15px;
  }

  label {
    display: block;
    width: 340px;
  }

  input {
    width: 100%;
    background-color: rgba(255, 255, 255, .16);
    color: var(--color-white);
    border-radius: calc(var(--radius-main) - 12px);
    padding-block: 10px;
    font-size: clamp(16px, 1vw, 24px);
    padding-left: rem(32);

    &::placeholder {
      font-weight: var(--fw-500);
      color: var(--color-blue-500);
      line-height: 1;
    }
  }

  .btn {
    font-size: clamp(16px, 1vw, 24px);
  }
}