@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.education {
  &__wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 41px;

    @include media(mobile-l) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__list {
    display: flex;

    @include media(mobile-l) {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 440px;
    width: 100%;
    border-left: 1px solid var(--color-gray-300);
    padding: 15px 20px;

    @include media(mobile-l) {
      max-width: 100%;
    }

    p {
      font-size: clamp(18px, 2vw, 20px);
      color: var(--color-black);
      line-height: 1.2;
    }
  }

  h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: var(--font-family-secondary);
    margin-bottom: rem(50);

    @include media(mobile-l) {
      margin-bottom: rem(10);
    }
  }

  .btn {
    margin-left: auto;

    @include media(mobile-l) {
      margin-left: 0;
    }
  }

  img {
    border-radius: var(--radius-main);
    aspect-ratio: 297/100;

    @include media(mobile-l) {
      aspect-ratio: 16/8;
    }
  }

  &--tips {
    .education__list {
      @include media(mobile-l) {
        flex-direction: column;
      }
    }
  }
}