@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  &__wrapper {
    background-color: var(--color-dark-800);
    border-radius: var(--radius-main);
    padding-inline: rem(25);
  }

  &__inner {
    h2 {
      color: var(--color-white);
      font-size: clamp(1.75rem, 1.25rem + 2.2857vi, 2.62rem);
      text-transform: capitalize;
      margin-bottom: rem(50);
    }
  }

  &__top {
    @include flex-sb;
    align-items: flex-start;
    min-height: 375px;
    border-bottom: 1px solid var(--color-dark-500);
    padding: rem(45);
  }

  label {
    display: inline-block;
    max-width: 340px;
    width: 100%;
  }

  input {
    width: 100%;
    background-color: var(--color-dark-500);
    color: var(--color-white);
    border-radius: calc(var(--radius-main) - 12px);
    padding-block: 10px;
    font-size: 16px;
    padding-left: rem(32);
    margin-bottom: 15px;

    &::placeholder {
      font-weight: var(--fw-500);
      color: var(--color-gray-400);
      line-height: 1;
    }
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px rem(70);
  }

  &__bottom,
  &__list {
    @include flex-sb;
  }

  &__bottom {
    padding: rem(25) rem(45);

    @include media(mobile-l) {
      flex-direction: column-reverse;
    }
  }

  &__list {
    line-height: 1.1;

    @include media(mobile-l) {
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(30);
    }
  }

  .copyright {
    font-size: clamp(16px, 1vw, 18px);
    font-weight: var(--fw-400);

    @include media(mobile-l) {
      text-align: center;
    }

    @include media(mobile-s) {
      max-width: 250px;
      font-size: 14px;
    }
  }
}