@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.grid {
  $root: &;
  display: grid;

  &__item {
    position: relative;
    justify-content: space-between;
  }

  &[data-items="2"] {
    --column: 2;
    gap: 30px;
    grid-template-columns: repeat(var(--column), 1fr);

    @include media(mobile-l) {
      --column: 1;
      gap: 20px;
    }
  }

  &[data-items="3"] {
    --column: 2;
    gap: 50px;
    grid-template-columns: repeat(var(--column), 1fr);

    @include media(tablet) {
      gap: 25px;
    }

    @include media(mobile-l) {
      --column: 1;
    }
  }

  &[data-items="4"] {
    justify-content: center;
    gap: 20px;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 280px 75px 75px 170px 170px;

    @include media(tablet) {
      grid-template-columns: 3fr 3fr;
      grid-template-rows: 1fr;
    }

    .grid__item {
      border-radius: var(--radius-main);
      overflow: hidden;

      &:nth-child(1) {
        grid-column: 1/3;
      }

      &:nth-child(2) {
        grid-column: 3/4;
        grid-row: 1/3;
      }

      &:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/4;
      }

      &:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/6;
      }

      &:nth-child(5) {
        grid-column: 1/2;
        grid-row: 4/5;
      }

      &:nth-child(6) {
        grid-column: 1/2;
        grid-row: 5/6;
      }

      &:nth-child(7) {
        grid-column: 3/4;
        grid-row: 3/6;

        @include media(tablet) {
          grid-column: 1/3;
          grid-row: auto;
        }
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        @include media(tablet) {
          grid-column: auto;
          grid-row: auto;
        }
      }
    }

    img {
      height: 100%;
    }
  }
}