@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.grid {
  $root: &;
  display: grid;

  &__item {
    position: relative;
    justify-content: space-between;
  }

  &[data-items="1"] {
    --column: 2;
    gap: rem(25);
    grid-template-columns: repeat(var(--column), 1fr);
  }

  &[data-items="2"] {
    --column: 3;
    gap: rem(25);
    grid-template-columns: repeat(var(--column), 1fr);
  }
}