@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  position: relative;
  @include cover-background;
  padding-block: 110px 0;

  &::before {
    @include pseudo;
    inset: 0;
  }

  &__wrapper {
    @include flex-v-center;
    min-height: calc(100vh - 175px);
  }

  h1 {
    max-width: 960px;
    width: 100%;
  }

  &--education {
    padding-top: 110px;

    &::before {
      background: var(--gradient-blue-education);
    }

    .hero__inner {
      min-height: calc(100vh - 74px);
    }
  }

  &__inner {
    position: relative;
    @include flex-col;
    justify-content: center;
    gap: rem(50);
    width: 100%;
    z-index: 1;

    &--home {
      padding-top: 175px;
      min-height: auto;
      margin-bottom: rem(65);
    }
  }

  img {
    position: relative;
    border-radius: var(--radius-main);
    z-index: 1;
  }

  p {
    font-size: clamp(18px, 2vw, 24px);
  }

  &__content {
    margin-bottom: rem(90);

    p {
      max-width: 950px;
      width: 100%;
      line-height: 1;

      &:not(:last-child) {
        color: var(--color-white);
        margin-bottom: 15px;
      }
    }
  }

  &__features {
    border-top: 1px solid var(--color-dark-500);
    padding-block: 45px;
  }

  &__form {
    position: relative;
    background: var(--gradient-blue-form);
    border-radius: var(--radius-main);
    padding: rem(45) rem(50);

    &::before {
      @include pseudo;
      inset: 0;
      pointer-events: none;
    }
  }

  &--overview {
    padding-block: 110px 65px;
    padding-bottom: rem(65);

    &::before {
      background: var(--gradient-blue-overview);
    }

    img {
      max-width: 620px;
      aspect-ratio: 23/25;
    }

    h1 {
      max-width: 630px;
    }
  }

  &--resources {
    padding-block: 110px 65px;
    background-color: var(--color-blue-900);

    img {
      max-width: 685px;
      aspect-ratio: 39/20;
    }
  }

  &--contact-us {
    .hero__wrapper {
      justify-content: space-between;
    }

    .hero__inner {
      max-width: 525px;
    }
  }
}