@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  position: relative;
  @include cover-background;
  padding-top: 75px;

  &::before {
    @include pseudo;
    inset: 0;
  }

  &--education {
    &::before {
      background: var(--gradient-blue-education);
    }
  }

  &__inner {
    position: relative;
    @include flex-col;
    justify-content: center;
    min-height: calc(100vh - 74px);
    max-width: 960px;
    width: 100%;
    z-index: 1;
  }
}