@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.nav {
  @include flex-v-center;
  text-transform: capitalize;
  position: relative;
  color: inherit;
  white-space: nowrap;

  &__inner {
    @include flex-all-sb;
    width: 100%;
    gap: 30px;

    @include media(tablet) {
      gap: 10px;

      .logo--header {
        display: none;
      }
    }

    .header & {
      @include media(tablet) {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        color: inherit;
        padding-block: calc(var(--header-height) * 1.2) 20px;
        width: 100%;
        height: calc(var(--vh));
        background-color: var(--color-dark-900);
        transform: translateX(150%);
        transition-property: transform;
        transition-duration: 0.4s;
      }
    }
  }

  &__list {
    @include flex-v-center;
    margin-inline: rem(40) auto;
    gap: 50px;

    @include media(tablet-wide) {
      margin-inline: rem(20) auto;
      gap: 25px;
    }

    @include media(tablet) {
      margin-inline: auto;
      gap: 10px;
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__item {
    &:not(:last-of-type) {

      @include media(tablet) {
        margin-right: 0;
        gap: 15px;
      }
    }
  }

  &__link {
    display: inline-block;
    white-space: nowrap;
    background-color: transparent;

    @include media(tablet) {
      font-size: 16px;
      padding: 10px 0;
    }
  }

  .true {
    border-bottom: 1px solid var(--color-gray-500);

    @include media(tablet) {
      border-bottom: none;
    }
  }

  &__btns {
    @include flex-v-center;
    justify-self: flex-end;
    gap: rem(42);

    @include media(tablet-wide) {
      gap: rem(20);
    }

    @include media(tablet) {
      flex-direction: column;
      margin: 0 auto;
    }

    @include media(mobile-m) {
      flex-direction: column;
      gap: 20px;
    }

    ul {
      display: flex;
      gap: rem(40);

      @include media(tablet-wide) {
        gap: rem(25);
      }

      @include media(tablet) {
        flex-direction: column;
        align-items: center;
      }
    }

    li:not(:last-child) {
      padding-right: rem(45);
      border-right: 1px solid rgba(255, 255, 255, .16);

      @include media(tablet-wide) {
        padding-right: rem(20);
      }

      @include media(tablet) {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}