@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  padding-block: 0 80px;

  h1 {
    font-size: 64px;
    color: var(--color-brown-500);
    margin: 0 auto 50px;

    @include media(tablet) {
      font-size: 54px;
    }

    @include media(mobile-l) {
      font-size: 46px;
    }

    @include media(mobile-s) {
      font-size: 34px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.65;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__content {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  h2 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 25px;

    @include media(tablet) {
      font-size: 24px;
    }

    +p {
      margin: 0;
      text-align: left;
      font-weight: var(--fw-400);
      max-width: 100%;
    }
  }

  ul {
    color: var(--color-gray);
    margin-bottom: 24px;
    padding-left: 15px;
  }

  li {
    padding-left: 5px;
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &::marker {
      content: '\2713';
      margin-right: 5px;
    }
  }

  a {
    text-decoration: underline;
  }

  b,
  strong {
    font-weight: var(--fw-600);
  }

  @include media(tablet-wide) {
    h2 {
      font-size: 38px;
    }
  }

  @include media(mobile-l) {
    h2 {
      font-size: 28px;
    }
  }
}