@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.post {
  max-width: 1440px;
  width: 100%;
  @include flex-all-sb;
  gap: 20px;
  margin: 0 auto;

  @include media(mobile-l) {
    flex-direction: column-reverse;
  }

  &__content {
    max-width: 590px;
    width: 100%;
    padding-inline: 120px 0;
    padding-block: 15px;

    @include media(tablet-wide) {
      padding-inline: 60px 0;
      padding-inline: 15px;
    }

    @include media(mobile-l) {
      max-width: 100%;
    }
  }

  h2,
  h3 {
    margin-bottom: 12px;
    line-height: 1.2;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 40px;
    color: var(--color-brown-500);

    @include media(tablet) {
      font-size: 32px;
    }
  }

  p {
    margin-bottom: 50px;

    @include media(mobile-l) {
      margin-bottom: 30px;
    }
  }

  &__image {
    width: 50%;
    flex-shrink: 0;

    @include media(mobile-l) {
      width: 100%;
    }
  }

  img {
    aspect-ratio: 129/100;

    @include media(tablet-wide) {
      aspect-ratio: 1/1;
    }

    @include media(mobile-l) {
      aspect-ratio: 16/8;
    }
  }

  &--features {
    p {
      margin-bottom: 65px;

      @include media(tablet) {
        margin-bottom: rem(40);
      }
    }

    img {
      aspect-ratio: 30/21;

      @include media(tablet) {
        aspect-ratio: 21/21;
      }

      @include media(mobile-l) {
        aspect-ratio: 16/8;
      }
    }
  }

  &--reverse {
    @include media(mobile-l) {
      flex-direction: column;
    }

    .post__content {
      order: 2;
      max-width: 488px;
      width: 100%;
      padding-inline: 0 120px;

      @include media(tablet-wide) {
        padding-inline: 15px;
      }

      @include media(mobile-l) {
        max-width: 100%;
      }
    }
  }
}