@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.products {
  &__wrapper {
    @include flex-col;
    gap: 25px;
  }

  &__list {
    width: 100%;
    @include flex-h-center;
    align-items: flex-start;
    gap: 25px;
  }

  &__item {
    height: 100%;
    flex: 0 0 475px;
    transition-property: flex, transform;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0.28, -0.03, 0, 0.99);

    &.inactive-left,
    &.inactive-right {
      flex: 0 0 475px;
      transform: translateX(0);
    }
  }

  &__item.active {
    flex: 1;
    transform: translateX(0);
    height: auto;

    .product-card {
      max-width: 100%;
      transition-duration: .6s;
      transition-timing-function: cubic-bezier(.28, -0.03, 0, .99);
      overflow: hidden;
      padding: rem(135) rem(280) rem(45) rem(45);

      p {
        max-width: 485px;
        margin-top: 0;
      }
    }

    .product-card__images {
      max-width: 340px;
    }

    .product-card__customers {
      transform: translateX(0) scale(1);
    }

    .list {
      margin-top: auto;
      transform: translateX(0);
      height: fit-content;
      transition: all .3s;
    }
  }
}