@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.product-card {
  position: relative;
  overflow: hidden;
  @include flex-col;
  min-height: 635px;
  border-radius: var(--radius-main);
  padding: rem(120) rem(45) rem(45) rem(45);

  @include media(tablet-wide) {
    padding: rem(120) rem(25) rem(25) rem(25);
  }

  @include media(mobile-l) {
    padding: rem(100) rem(200) rem(25) rem(15);
    min-height: 300px;
  }

  @include media(mobile-m) {
    padding: rem(100) rem(15) rem(25) rem(15);
  }

  &::before {
    @include pseudo;
    @include cover-background;
    width: 65px;
    height: 65px;
    top: 50px;
    left: 50px;
    background-image: var(--arrow);

    @include media(mobile-l) {
      width: 45px;
      height: 45px;
      top: 20px;
      left: 10px;
    }
  }

  .list {
    margin-top: 0;
    height: 0;
    transform: translateX(-150%) scale(0);
    margin-right: 10px;

    @include media(mobile-l) {
      transform: translateX(0) scale(1);
      height: fit-content;
    }
  }

  &__customers {
    position: absolute;
    bottom: 45px;
    right: 20px;
    @include flex-col;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
    padding: 16px;
    border-radius: calc(var(--radius-main) - 12px);
    color: var(--color-white);
    transform: translateX(150%);
    transition: all .3s;

    @include media(tablet) {
      max-width: 170px;
    }

    @include media(mobile-l) {
      transform: translateX(0);
      bottom: 25px;
    }

    @include media(mobile-m) {
      position: relative;
      bottom: auto;
      right: auto;
      margin-bottom: 20px;
    }
  }

  &__customers-header {
    @include flex-all-sb;
    margin-bottom: rem(40);

    @include media(tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: rem(20);
      gap: 10px;
    }
  }

  h4 {
    font-size: 16px;
  }

  &__units {
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    line-height: 1;
    border-radius: calc(var(--radius-main) + 4px);
    font-family: var(--font-family-secondary);
  }

  h4>span {
    display: block;
    color: rgba(255, 255, 255, .6);
  }

  &__counter {
    position: relative;
    max-width: fit-content;
    line-height: 1;
    padding-right: 10px;
    font-size: 66px;

    @include media(tablet) {
      font-size: 46px;
    }

    &::before {
      position: absolute;
      content: "k";
      font-size: 16px;
      right: 0;
      bottom: 5px;
    }
  }

  h3 {
    font-size: clamp(1.75rem, 1.25rem + 2.2857vw, 56px);
    margin-bottom: 25px;
  }

  p {
    max-width: 385px;
    z-index: 1;
    line-height: 1.2;
    margin-top: auto;
    margin-bottom: 0;
    transition: all .3s;

    @include media(tablet) {
      margin-bottom: 20px;
    }
  }

  &__images {
    position: absolute;
    max-width: 0;
    width: 100%;
    top: 150px;
    right: -115px;
    display: flex;
    gap: 20px;
    transition: all .3s;

    @include media(tablet) {
      top: 50px;
      gap: 10px;
      right: -150px;
    }

    @include media(mobile-l) {
      max-width: 340px;
    }

    @include media(mobile-m) {
      opacity: .5;
    }

    img {
      max-width: 160px;
      width: 100%;
      aspect-ratio: 69/100;
      border-radius: calc(var(--radius-main) - 12px);

      @include media(tablet) {
        max-width: 130px;
      }

      &:last-child {
        transform: translateY(-150px);

        @include media(tablet) {
          transform: translateY(-70px);
        }
      }
    }
  }

  .btn {
    max-width: fit-content;
    width: 100%;
    padding: 14px 32px;
    margin-right: 10px;

    @include media(tablet) {
      font-size: 14px;
      padding: 14px 20px;
    }
  }

  &--dark {
    color: var(--color-white);
    background-color: var(--color-dark-900);

    &::before {
      filter: var(--filter-gray-700);
    }

    .product-card__customers {
      background-color: rgba(226, 86, 44, .5);
    }

    .list {
      color: var(--color-gray-700);

      li {
        &::before {
          filter: var(--filter-gray-700);
        }
      }
    }

    .btn {
      background-color: var(--color-orange);

      &:hover {
        opacity: .8;

        @include media(tablet) {
          opacity: 1;
        }
      }
    }
  }

  &--blue {
    color: var(--color-dark-900);
    background-color: var(--color-blue-500);

    &::before {
      filter: var(--filter-dark-900);
    }

    .product-card__customers {
      background-color: rgba(61, 87, 217, .5);
    }

    .list {
      li {
        &::before {
          filter: var(--filter-dark-900);
        }
      }
    }

    .btn {
      background-color: var(--color-blue-900);
      font-size: 16px;

      &:hover {
        opacity: .8;

        @include media(tablet) {
          opacity: 1;
        }
      }
    }
  }
}