@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 30px 45px;

  @include media(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(mobile-m) {
    grid-template-columns: 1fr;
  }

  h3 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__item {
    position: relative;
    justify-content: space-between;
    padding-top: 75px;

    &::before {
      @include pseudo;
      border-radius: var(--radius-main);
      background-color: var(--color-brown-200);
      width: 44px;
      height: 44px;
      top: 0;
      left: 0;
    }

    &::after {
      position: absolute;
      font-size: 18px;
      font-family: var(--font-family-primary);
      font-weight: var(--fw-700);
      top: 8px;
      left: 17px;
    }

    &:nth-child(1) {
      &::after {
        content: "1";
      }
    }

    &:nth-child(2) {
      &::after {
        content: "2";
      }
    }

    &:nth-child(3) {
      &::after {
        content: "3";
      }
    }

    &:nth-child(4) {
      &::after {
        content: "4";
      }
    }
  }
}