@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.articles {
  &__header {
    @include flex-all-sb;
    margin-bottom: rem(57);
  }

  h2 {
    color: var(--color-white);
    font-family: var(--font-family-primary);
    font-size: clamp(1.75rem, 1.25rem + 2.2857vi, 3.5rem);
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 0;
  }

  article {
    max-width: 650px;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-main);
    padding: 16px;

    &::before {
      @include pseudo;
      @include contain-background;
      pointer-events: none;
      top: rem(75);
      right: rem(13);
      width: 64px;
      height: 64px;
      background-image: var(--arrow);

      @include media(mobile-l) {
        width: 44px;
        height: 44px;
      }
    }
  }

  a {
    @include flex-col;
    height: 100%;
    justify-content: space-between;
  }

  .grid__item:first-child {
    article {
      background-color: var(--color-white);

      &::before {
        filter: var(--filter-gray-700)
      }
    }

    h3 {
      color: var(--color-dark-900);
    }
  }

  .grid__item:last-child {
    article {
      background-color: var(--color-dark-800);

      &::before {
        filter: var(--filter-white)
      }
    }

    h3 {
      color: var(--color-white);
    }
  }

  h3 {
    padding-inline: rem(15) rem(60);
    padding-top: rem(15);
    margin-bottom: rem(56);
    font-size: clamp(1.75rem, 1.25rem + 2.2857vw, 56px);

    @include media(mobile-l) {
      padding-inline: 0;
    }
  }

  img {
    aspect-ratio: 223/100;
    border-radius: calc(var(--radius-main) - 8px);

    @include media(mobile-l) {
      aspect-ratio: 16/10;
    }
  }

  &--reverse {
    .grid__item:last-child {
      article {
        background-color: var(--color-white);

        &::before {
          filter: var(--filter-gray-700)
        }
      }

      h3 {
        color: var(--color-dark-900);
      }
    }

    .grid__item:first-child {
      article {
        background-color: var(--color-dark-800);

        &::before {
          filter: var(--filter-white)
        }
      }

      h3 {
        color: var(--color-white);
      }
    }
  }
}