@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.case {
  &__header {
    @include flex-all-sb;
    margin-bottom: rem(65);
  }

  h2 {
    color: var(--color-white);
    font-family: var(--font-family-primary);
    font-size: clamp(1.75rem, 1.25rem + 2.2857vi, 3.5rem);
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 0;
  }

  article {
    border-radius: var(--radius-main);
    background-color: var(--color-dark-800);
    padding: 16px;
  }

  &__content {
    position: relative;
    max-width: 570px;
    width: 100%;
    position: relative;
    padding-bottom: 110px;

    &::before {
      @include pseudo;
      bottom: rem(35);
      left: 0;
      width: 64px;
      height: 64px;
      background-image: var(--arrow);
      filter: var(--filter-white);
    }
  }

  a {
    display: flex;
    justify-content: flex-start;
    gap: 65px;

    @include media(tablet-wide) {
      align-items: center;
      gap: 35px;
    }

    @include media(mobile-m) {
      flex-direction: column;
    }
  }

  h3 {
    font-size: clamp(1.75rem, 1.25rem + 2vw, 56px);
    padding-top: rem(30);
    color: var(--color-white);
    margin-bottom: rem(35);
  }

  &__img {
    max-width: 610px;
    width: 100%;
  }

  img {
    aspect-ratio: 131/100;
    border-radius: calc(var(--radius-main) - 8px);

    @include media(mobile-m) {
      spect-ratio: 16/7;
    }
  }

  p {
    font-size: clamp(1.35rem, 2vw, 32px);
    color: var(--color-gray-500);
    line-height: 1;
  }
}