@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.guides {
  article {
    border-radius: var(--radius-main);
    color: var(--color-white);
    padding: rem(135) rem(50) rem(50);
    height: 100%;

    @include media(tablet) {
      padding: rem(135) rem(25) rem(25);
    }

    &::before {
      @include pseudo;
      top: 48px;
      left: 48px;
      width: 65px;
      height: 65px;
      background-image: var(--arrow);
      filter: var(--filter-white);
      @include cover-background;
    }
  }

  .list {
    margin-bottom: rem(45);
  }

  h3 {
    max-width: 490px;
    font-size: clamp(1.75rem, 1.25rem + 2.2857vw, 56px);
    margin-bottom: 25px;
  }

  span {
    display: inline-block;
    opacity: .7;
    margin-bottom: rem(95);

    @include media(tablet) {
      margin-bottom: rem(50);
    }
  }

  .grid__item:first-child {
    article {
      background: var(--gradient-violet-blue);
    }
  }

  .grid__item:last-child {
    article {
      background: var(--gradient-coral-pink);
    }
  }
}