@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.webinars {
  &__header {
    @include flex-all-sb;
    margin-bottom: rem(65);
  }

  article {
    max-width: 650px;
    width: 100%;
    border-radius: var(--radius-main);
    background-color: var(--color-dark-800);
    padding: 16px 16px 38px 16px;
  }

  article>div {
    @include flex-col;
    gap: 25px;
    padding-inline: 8px;
  }

  h3 {
    font-size: clamp(1.75rem, 1.25rem + 2.2857vw, 48px);
    color: var(--color-white);
  }

  img {
    aspect-ratio: 2/1;
    border-radius: calc(var(--radius-main) - 8px);
    margin-bottom: rem(35);
  }
}