@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  font-family: var(--font-family-primary);
  font-weight: var(--fw-500);
  font-style: normal;
  font-size: clamp(16px, 2vw, 18px);
  color: var(--color-gray-600);
  background-color: var(--color-dark-900);
  font-optical-sizing: auto;
  font-variant-numeric: lining-nums;

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  width: 100%;

  &--borders {
    max-width: 1390px;
    padding: rem(65) rem(40);
    border-left: 1px solid var(--color-dark-500);
    border-right: 1px solid var(--color-dark-500);
  }
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-height: var(--vh);
}

.logo {
  max-width: 240px;
  width: 100%;
  filter: var(--filter-white);
  transition-property: filter;
  transition-duration: .3s;
  transition-timing-function: linear;

  @include media(tablet) {
    max-width: 180px;
  }

  &:hover {
    filter: var(--filter-gray-500);

    @include media(tablet) {
      filter: var(--filter-white);
    }
  }
}

img {
  width: 100%;
  object-fit: cover;
}

.section {
  padding-block: rem(60);

  @include media(tablet) {
    padding-block: rem(50);
  }

  &--light {
    background-color: var(--color-white);

    h2 {
      +p {
        color: var(--color-dark-900);
      }
    }
  }
}

.link {
  font-size: 16px;
  color: var(--color-white);
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: linear;

  &:hover:not(.true) {
    color: var(--color-gray-500);

    @include media(tablet) {
      color: inherit;
    }
  }
}