@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

h1,
h2,
h3 {
  overflow: hidden;
  width: fit-content;
  text-transform: capitalize;
  font-weight: var(--fw-500);
}

h1 {
  color: var(--color-white);
  font-size: clamp(2.375rem, 1.8643rem + 4.1905vi, 4.75rem);
}

h2 {
  color: var(--color-gray-700);
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 15px;

  +p {
    font-size: clamp(1.75rem, 1.25rem + 2.2857vi, 3rem);
  }
}