@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

h1,
h2,
h3 {
  width: fit-content;
  text-transform: capitalize;
  font-weight: var(--fw-500);
  line-height: 1;
}

h1 {
  color: var(--color-white);
  font-size: clamp(38px, 1.8643rem + 3vi, 76px);
}

h2 {
  color: var(--color-gray-700);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}