@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.about {
  &__inner {
    @include flex-all-sb;
    gap: rem(40);
    background-color: var(--color-blue-900);
    border-radius: var(--radius-main);
    padding: rem(55);

    @include media(tablet) {
      padding: rem(25);
    }

    @include media(mobile-m) {
      flex-direction: column-reverse;
      padding: rem(15);
    }
  }

  &__content {
    max-width: 485px;
    width: 100%;
    color: var(--color-white);
  }

  h2 {
    font-size: clamp(1.75rem, 1.25rem + 2.2857vw, 56px);
    font-family: var(--font-family-primary);
    text-transform: capitalize;
    color: var(--color-white);
    margin-bottom: 20px;

    +p {
      margin-bottom: rem(40);
      color: var(--color-white);
      line-height: 1.2;
    }
  }


  .list {
    margin-bottom: rem(45);
  }

  &__image {
    max-width: 535px;
    width: 100%;
  }

  img {
    aspect-ratio: 10/11;
    border-radius: var(--radius-main);
  }

  .btn {
    font-size: clamp(18px, 2vw, 24px);
  }
}