@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

  @include media(tablet) {
    gap: 15px;
  }

  @include media(mobile-l) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(mobile-m) {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  &__item {
    @include media(mobile-l) {
      &:nth-child(3) {
        grid-column: 1/3;

        img {
          aspect-ratio: 16/8;
        }
      }
    }

    @include media(mobile-m) {
      &:nth-child(3) {
        grid-column: auto;

        img {
          aspect-ratio: 16/10;
        }
      }
    }
  }

  article {
    position: relative;
  }

  img {
    max-width: 420px;
    aspect-ratio: 21/25;
    border-radius: calc(var(--radius-main) - 8px);
    margin-bottom: 25px;

    @include media(mobile-l) {
      max-width: 100%;
      margin-bottom: 15px;
    }

    @include media(mobile-m) {
      aspect-ratio: 16/10;
    }
  }

  h3 {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: calc(var(--radius-main) * 2);
    color: var(--color-white);
    background-color: rgba($color: #fff, $alpha: .5);
    padding: rem(14) rem(32);
    backdrop-filter: blur(5px);
  }

  p {
    color: var(--color-black);
    font-size: clamp(18px, 2vw, 20px);
    line-height: 1.2;
  }
}